<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - test</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/test.styles.css" asp-append-version="true" /> *@
</head>
<body>
    @* <div class="overlay"></div> *@
    <header>
        <a class="logo" asp-area="" asp-controller="Home" asp-action="Index"><span>En</span>glish</a>
        <nav class="nav">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#services">Навчання</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#blog">Відгуки від студентів</a>
            <a href="#contact">Contact</a>
        </nav>
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> *@
        <partial name="_LoginPartial" />
    </header>

    @RenderBody()

    <footer>
        &copy; 2024 - test - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
