@{
    ViewData["Title"] = "Home Page";
}

<section class="home" id="home">
    <div class="hero-info">
        <h3>Welcome To my online school</h3>
        <h1 class="h1">Hi I'm Nataliia </h1>

        <div class="text-animate">
            <h2>Онлайн школа англійської мови</h2>
        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi rerum cupiditate <br>delectus ullam voluptates accusamus sapiente minima deleniti cum amet.</p>

        <div class="btn-box">
            <a href="mailto:richard@mail.com" class="btn">Записатися на пробний урок <i class='bx bx-right-arrow-alt'></i></a>
        </div>

        <div class="social-media">
            <div class="bg-icon">
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <span></span>
            </div>

            <div class="bg-icon">
                <a href="#"><i class='bx bxl-github'></i></a>
                <span></span>
            </div>

            <div class="bg-icon">
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <span></span>
            </div>

            <div class="bg-icon">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <span></span>
            </div>
        </div>
    </div>
    <div class="img-hero">
        <img src="https://picfiles.alphacoders.com/583/thumb-583064.png" alt="">
        <div class="rotate-text">
            <div class="text">
                <p>I'm your English Teacher</p>
            </div>
            <span><i></i></span>
        </div>
    </div>
</section>

<section class="about" id="about">
    <div class="about-img">
        <img src="~/img2/Artboard_1.png")" alt="" class="aboutHero">
        <div class="showcase-ring">
            <img src="/shapes/ring.png" class="ring">
            <img src="/shapes/circle.png" class="circle">
        </div>
    </div>
    <div class="about-content">
        <h2 class="heading">About Me</h2>
        <h3>3 Year's Experience on Product Design</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint voluptatem autem ex in. Temporibus et maiores ipsum recusandae voluptas consequatur!</p>
        <div class="about-btn">
            <button class="active">Main Skills</button>
            <button>Awards</button>
            <button>Education</button>
        </div>
        <div class="content-btn">
            <div class="content">
                <div class="text-box">
                    <p>User Experience Design - UI / UX</p>
                    <span>Delight the user and make it work.</span>
                </div>
                <div class="text-box">
                    <p>Web & User Interface Design - Development</p>
                    <span>Website , Web Experience , ...</span>
                </div>
                <div class="text-box">
                    <p>Interaction Desing - Animation</p>
                    <span>I Like to move it move it</span>
                </div>
            </div>

            <div class="content">
                <div class="text-box">
                    <p>Web Design Award</p>
                    <span>Award for creativity and user experience.</span>
                </div>
                <div class="text-box">
                    <p>Code and Development Award</p>
                    <span>Exceptional coding skills and develoment techniques</span>
                </div>
                <div class="text-box">
                    <p>Hackathons and coding Competiotions</p>
                    <span>Participating in hackathons and coding.</span>
                </div>
            </div>


            <div class="content">
                <div class="text-box">
                    <p>Online Courses and Bootcamps</p>
                    <span>Delight the user and make it work.</span>
                </div>
                <div class="text-box">
                    <p>Internships and Work Experience</p>
                    <span>Website , Web Experience , ...</span>
                </div>
                <div class="text-box">
                    <p>Bachelor's Degree in Computer Science</p>
                    <span>I Like to move it move it</span>
                </div>
            </div>
        </div>
        <div class="cvContent">
            <a href="img/resume.pdf" target="_blank" class="btn d-CV">Download CV <i class='bx bx-download'></i></a>
        </div>
    </div>
</section>

<section class="services" id="services">
    <div class="main-text">
        <h2 class="heading">Англійська</h2>
        <span>для кожного з нас</span>
    </div>

    <div class="allServices">
        <div class="servicesItem">
            <div class="icon-services">
                <i><img class="img-icon" src="/img2/PngItem_278741.png" alt=""></i>
                <span></span>
            </div>
            <h3>Для дітей</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure inventore ea nemo ab recusandae modi voluptates maxime ipsam eveniet. Facilis.</p>
            <a href="#" class="readMore">Read More</a>
        </div>

        <div class="servicesItem">
            <div class="icon-services">
                <i><img class="img-icon" src="/img2/teen-young-adult-avatar-handsome-thumbs-up-512.png" alt=""></i>
                <span></span>
            </div>
            <h3>Для студентів</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure inventore ea nemo ab recusandae modi voluptates maxime ipsam eveniet. Facilis.</p>
            <a href="#" class="readMore">Read More</a>
        </div>

        <div class="servicesItem">
            <div class="icon-services">
                <i><img class="img-icon" src="/img2/he_people_boy_adult_young_student-512.png" alt=""></i>
                <span></span>
            </div>
            <h3>Для дорослих</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure inventore ea nemo ab recusandae modi voluptates maxime ipsam eveniet. Facilis.</p>
            <a href="#" class="readMore">Read More</a>
        </div>

        <!-- <div class="servicesItem">
            <div class="icon-services">
                <i class='bx bxs-party' ></i>
                <span></span>
            </div>
            <h3>Digital Marketing</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure inventore ea nemo ab recusandae modi voluptates maxime ipsam eveniet. Facilis.</p>
            <a href="#" class="readMore">Read More</a>
        </div> -->
    </div>

    <div class="proposal">
        <div class="text-box">
            <span>Get It Touch</span>
            <h3>Have a Project On Your Mind</h3>
            <a href="#contact" class="btn">Contact Me</a>
        </div>
        <img src="/img2/8602730.png" class="first">
    </div>

    <div class="showcase">
        <img src="shapes/ring.png" class="ring">
        <img src="shapes/circle.png" class="circle">
        <img src="shapes/circle.png" class="circle2">
        <img src="shapes/circle.png" class="circle3">
        <img src="shapes/half-ring.png" class="half-ring">
    </div>
</section>

<section class="portfolio" id="portfolio">
    <div class="main-text">
        <h2 class="heading">My Services</h2>
        <span>what i will do for you</span>
    </div>
    <div class="fillter-buttons">
        <button class="button mixitup-control-active" data-filter="all">All Work</button>
        <button class="button" data-filter=".web">Web Development</button>
        <button class="button" data-filter=".uiux">UI/UX Design</button>
        <button class="button" data-filter=".branding">Branding Design</button>
    </div>

    <div class="portfolio-gallery">
        <div class="portfolio-box mix uiux">
            <div class="portfolio-content">
                <h3>UI/UX Design</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, soluta.</p>
                <a href="#" class="readMore">Explore More</a>
            </div>
            <div class="portfolio-img">
                <img src="img/portfolio/1.jpg" alt="">
            </div>
        </div>

        <div class="portfolio-box mix web">
            <div class="portfolio-content">
                <h3>Web Design</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, soluta.</p>
                <a href="#" class="readMore">Explore More</a>
            </div>
            <div class="portfolio-img">
                <img src="img/portfolio/2.jpg" alt="">
            </div>
        </div>

        <div class="portfolio-box mix web">
            <div class="portfolio-content">
                <h3>Web Development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, soluta.</p>
                <a href="#" class="readMore">Explore More</a>
            </div>
            <div class="portfolio-img">
                <img src="img/portfolio/3.jpg" alt="">
            </div>
        </div>


        <div class="portfolio-box mix web">
            <div class="portfolio-content">
                <h3>Web Development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, soluta.</p>
                <a href="#" class="readMore">Explore More</a>
            </div>
            <div class="portfolio-img">
                <img src="img/portfolio/4.jpg" alt="">
            </div>
        </div>

        <div class="portfolio-box mix uiux">
            <div class="portfolio-content">
                <h3>UI/UX Design</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, soluta.</p>
                <a href="#" class="readMore">Explore More</a>
            </div>
            <div class="portfolio-img">
                <img src="img/portfolio/5.jpg" alt="">
            </div>
        </div>

        <div class="portfolio-box mix branding">
            <div class="portfolio-content">
                <h3>Web Development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, soluta.</p>
                <a href="#" class="readMore">Explore More</a>
            </div>
            <div class="portfolio-img">
                <img src="img/portfolio/6.jpg" alt="">
            </div>
        </div>
    </div>

</section>

<section class="blog" id="blog">
    <div class="main-text">
        <h2 class="heading">Відгуки від студентів</h2>
        <span>Latest News & Post</span>
    </div>

    <div class="blog-box swiper mySwiper">
        <div class="cards swiper-wrapper">
            <div class="card swiper-slide">
                <div class="container-comment1">
                    <div class="profile-logo">
                        <img src="Ellipse 5 (1).svg" alt="" />
                    </div>
                    <img class="google-logo" src="./images/Vector (11).png" alt="" />
                    <div class="cont-rate">
                        <div class="s-text">
                            <span><strong>5 з 5</strong></span>
                        </div>
                        <div class="s-img">
                            <img src="./images/звезды (1).svg" alt="" />
                        </div>
                    </div>
                    <div class="cont-text">
                        <p class="s-text1"><strong>Артур Лопаков</strong></p>
                        <span class="s-text2">
                            Уже несколько лет их клиент. Отличный <br />сервис и никогда не
                            было нареканий на <br />качество. Мастера вежливые и с ними<br />
                            приятно иметь дело. Сервис однозначно <br />рекомендую.
                            Предварительно нужно<br />
                            записаться по телефону.
                        </span>
                    </div>
                </div>
            </div>

            <div class="card swiper-slide">
                <div class="container-comment1">
                    <div class="profile-logo">
                        <img src="Ellipse 5 (1).svg" alt="" />
                    </div>
                    <img class="google-logo" src="./images/Vector (11).png" alt="" />
                    <div class="cont-rate">
                        <div class="s-text">
                            <span><strong>5 з 5</strong></span>
                        </div>
                        <div class="s-img">
                            <img src="./images/звезды (1).svg" alt="" />
                        </div>
                    </div>
                    <div class="cont-text">
                        <p class="s-text1"><strong>Артур Лопаков</strong></p>
                        <span class="s-text2">
                            Уже несколько лет их клиент. Отличный <br />сервис и никогда не
                            было нареканий на <br />качество. Мастера вежливые и с ними<br />
                            приятно иметь дело. Сервис однозначно <br />рекомендую.
                            Предварительно нужно<br />
                            записаться по телефону.
                        </span>
                    </div>
                </div>
            </div>

            <div class="card swiper-slide">
                <div class="container-comment1">
                    <div class="profile-logo">
                        <img src="Ellipse 5 (1).svg" alt="" />
                    </div>
                    <img class="google-logo" src="./images/Vector (11).png" alt="" />
                    <div class="cont-rate">
                        <div class="s-text">
                            <span><strong>5 з 5</strong></span>
                        </div>
                        <div class="s-img">
                            <img src="./images/звезды (1).svg" alt="" />
                        </div>
                    </div>
                    <div class="cont-text">
                        <p class="s-text1"><strong>Артур Лопаков</strong></p>
                        <span class="s-text2">
                            Уже несколько лет их клиент. Отличный <br />сервис и никогда не
                            было нареканий на <br />качество. Мастера вежливые и с ними<br />
                            приятно иметь дело. Сервис однозначно <br />рекомендую.
                            Предварительно нужно<br />
                            записаться по телефону.
                        </span>
                    </div>
                </div>
            </div>

            <div class="card swiper-slide">
                <div class="container-comment1">
                    <div class="profile-logo">
                        <img src="Ellipse 5 (1).svg" alt="" />
                    </div>
                    <img class="google-logo" src="./images/Vector (11).png" alt="" />
                    <div class="cont-rate">
                        <div class="s-text">
                            <span><strong>5 з 5</strong></span>
                        </div>
                        <div class="s-img">
                            <img src="./images/звезды (1).svg" alt="" />
                        </div>
                    </div>
                    <div class="cont-text">
                        <p class="s-text1"><strong>Артур Лопаков</strong></p>
                        <span class="s-text2">
                            Уже несколько лет их клиент. Отличный <br />сервис и никогда не
                            было нареканий на <br />качество. Мастера вежливые и с ними<br />
                            приятно иметь дело. Сервис однозначно <br />рекомендую.
                            Предварительно нужно<br />
                            записаться по телефону.
                        </span>
                    </div>
                </div>
            </div>

            <div class="card swiper-slide">
                <div class="container-comment1">
                    <div class="profile-logo">
                        <img src="Ellipse 5 (1).svg" alt="" />
                    </div>
                    <img class="google-logo" src="./images/Vector (11).png" alt="" />
                    <div class="cont-rate">
                        <div class="s-text">
                            <span><strong>5 з 5</strong></span>
                        </div>
                        <div class="s-img">
                            <img src="./images/звезды (1).svg" alt="" />
                        </div>
                    </div>
                    <div class="cont-text">
                        <p class="s-text1"><strong>Артур Лопаков</strong></p>
                        <span class="s-text2">
                            Уже несколько лет их клиент. Отличный <br />сервис и никогда не
                            было нареканий на <br />качество. Мастера вежливые и с ними<br />
                            приятно иметь дело. Сервис однозначно <br />рекомендую.
                            Предварительно нужно<br />
                            записаться по телефону.
                        </span>
                    </div>
                </div>
            </div>

            <div class="card swiper-slide">
                <div class="container-comment1">
                    <div class="profile-logo">
                        <img src="Ellipse 5 (1).svg" alt="" />
                    </div>
                    <img class="google-logo" src="./images/Vector (11).png" alt="" />
                    <div class="cont-rate">
                        <div class="s-text">
                            <span><strong>5 з 5</strong></span>
                        </div>
                        <div class="s-img">
                            <img src="./images/звезды (1).svg" alt="" />
                        </div>
                    </div>
                    <div class="cont-text">
                        <p class="s-text1"><strong>Артур Лопаков</strong></p>
                        <span class="s-text2">
                            Уже несколько лет их клиент. Отличный <br />сервис и никогда не
                            было нареканий на <br />качество. Мастера вежливые и с ними<br />
                            приятно иметь дело. Сервис однозначно <br />рекомендую.
                            Предварительно нужно<br />
                            записаться по телефону.
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="showcase">
        <img src="shapes/ring.png" class="ring">
        <img src="shapes/second-circle.png" class="second-circle">
        <img src="shapes/circle.png" class="circle">
        <img src="shapes/half-ring.png" class="half-ring">
    </div>

</section>

<section class="down-box" id="contact">
    <div class="contactSkills">
        <div class="contact-info">
            <div class="main-text">
                <h2 class="heading">Contact Me</h2>
                <span>get in touch with me</span>
            </div>
            <form action="#">
                <div class="input-box">
                    <input type="text" placeholder="First Name">
                    <input type="text" placeholder="Last Name">
                </div>
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Subject">
                <textarea name="#" id="" cols="30" rows="10">
                    </textarea>
                <div class="formBtn">
                    <button type="submit" class="btn">Send Message</button>
                </div>
            </form>
        </div>
        <div class="skills">
            <div class="container">
                <div class="skillBox">
                    <div class="main-text">
                        <h2 class="heading">My Skills</h2>
                        <span>Let Me Help you</span>
                    </div>
                    <div class="skill-wrap">
                        <div class="skill">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="180px" height="180px">
                                        <defs>
                                            <linearGradient id="GradientColor">
                                                <stop offset="0%" stop-color="#e91e63" />
                                                <stop offset="100%" stop-color="#673ab7" />
                                            </linearGradient>
                                        </defs>
                                        <circle cx="85" cy="85" r="75" stroke-linecap="round" />
                                    </svg>
                                    <h2 class="counter">
                                        <span data-target="89">0</span>%
                                    </h2>
                                </div>
                            </div>
                            <div class="sk-title">
                                HTML
                            </div>
                        </div>

                        <div class="skill">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="180px" height="180px">
                                        <defs>
                                            <linearGradient id="GradientColor">
                                                <stop offset="0%" stop-color="#e91e63" />
                                                <stop offset="100%" stop-color="#673ab7" />
                                            </linearGradient>
                                        </defs>
                                        <circle cx="85" cy="85" r="75" stroke-linecap="round" />
                                    </svg>
                                    <h2 class="counter">
                                        <span data-target="47">0</span>%
                                    </h2>
                                </div>
                            </div>
                            <div class="sk-title">
                                CSS
                            </div>
                        </div>


                        <div class="skill">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="180px" height="180px">
                                        <defs>
                                            <linearGradient id="GradientColor">
                                                <stop offset="0%" stop-color="#e91e63" />
                                                <stop offset="100%" stop-color="#673ab7" />
                                            </linearGradient>
                                        </defs>
                                        <circle cx="85" cy="85" r="75" stroke-linecap="round" />
                                    </svg>
                                    <h2 class="counter">
                                        <span data-target="56">0</span>%
                                    </h2>
                                </div>
                            </div>
                            <div class="sk-title">
                                JavaScript
                            </div>
                        </div>


                        <div class="skill">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="180px" height="180px">
                                        <defs>
                                            <linearGradient id="GradientColor">
                                                <stop offset="0%" stop-color="#e91e63" />
                                                <stop offset="100%" stop-color="#673ab7" />
                                            </linearGradient>
                                        </defs>
                                        <circle cx="85" cy="85" r="75" stroke-linecap="round" />
                                    </svg>
                                    <h2 class="counter">
                                        <span data-target="19">0</span>%
                                    </h2>
                                </div>
                            </div>
                            <div class="sk-title">
                                UI/UX Design
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="progress">
    <span id="progress-value">
        <i class='bx bxs-chevrons-up'></i>
    </span>
</div>
